@media only screen and (max-width: 480px) {
    .main-nav {


        position: relative;
        padding-top: 1.25rem;
        padding-right: 0rem;
        overflow: visible;

    }

    .main-nav__primary-wrapper {
        width: 100%;

    }

    .main-nav__primary-wrapper--collapses {
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 4.375rem;
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
        background-color: blue;
        z-index: 20;
        display: none;

    }

    .is-expanded .main-nav__primary-wrapper--collapses {
        display: inline-block;
    }

    .main-nav__logo, .main-nav__link-list {
        display: inline-block;
        vertical-align: middle;
    }

    .main-nav__link-list {

        padding-left: 0rem;
        padding-right: 0rem;
    }

    .main-nav__logo {
        position: relative;

        margin-left: 1.25rem;
        margin-right: 2rem;
        margin-bottom: 1.25rem;
        top: 0;
        left: 0;
        z-index: 30;


    }

    .main-nav__logo__image {
        display: block;
        width: 3.75em;
        height: 1.75em;

    }

    .is-expanded .main-nav__logo__image {
        fill: #fff;
    }

    .is-expanded .main-nav__logo,
    .main-nav__link-list {
        display: inline-block;
        vertical-align: middle;
    }


    .main-nav__separator {
        border: 1px solid #eee;
    }

    .main-nav__link-list {
        margin-bottom: 1.25rem;
        list-style-type: none;
    }

    .main-nav__link-list__item {
        margin-right: 0rem;
        margin-left: 0rem;
        margin-bottom: 1.25rem;
        font-size: 1.25rem;

    }


    .main-nav__link-list__item a {
        color: #fff;
    }

    .main-nav__link-list__item::first-letter {
        text-transform: capitalize;
    }

    .main-nav__link-list__item.is-active a {
        color: #ff764d;

    }

    .main-nav__link-list__item--try {
        margin-left: 0px;
        margin-right: 0px;

    }

    .abl-btn--reset {

        display: none;
    }

    .main-nav__trigger-label {

        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 0.9375rem;
        font-size: 1.25rem;
        font-weight: bold;
        font-family: 'Futura PT Light';
        color: #000;
        z-index: 50;

    }

    .main-nav__trigger-label::after {
        content: '';
        transform: scaleX(0.8);
        display: inline-block;
        width: 0;
        height: 0;
        margin-bottom: -3px;
        margin-left: 0.4em;
        border-width: 5px;
        border-style: solid;
        border-color: transparent;
        border-top-color: #000;
    }

    .is-expanded .main-nav__trigger-label {
        color: #fff;
    }

    .is-expanded .main-nav__trigger-label::after {
        border-top-color: #FFF;
    }



    .main-nav__more-button {
        line-height: initial;
        vertical-align: initial;
    }

    .main-nav__icon--collapse .main-nav__icon {
        display: none;
        width: 0.75rem;
        height: 0.75rem;
        margin-left: 0.5rem;
        position: relative;
    }

    .main-nav__icon--collapse .main-nav__icon::before {
        content: "";
        background: #ff764d;
        display: block;
        width: 0.75rem;
        height: 0.125rem;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
    }

    .main-nav__hide-on-more-expanded .main-nav__icon {
        display: inline-block;

        width: 0.75rem;
        height: 0.75rem;
        margin-left: 0.5rem;
        position: relative;
    }


    .main-nav__hide-on-more-expanded .main-nav__icon::before {
        content: "";
        background: #ff764d;
        display: block;
        width: 0.75rem;
        height: 0.125rem;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
    }

    .main-nav__hide-on-more-expanded .main-nav__icon::after {
        content: "";
        background: #ff764d;
        height: 0.75rem;
        width: 0.125rem;
        display: block;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
    }


    .main-nav__link-list__item--try a {
        color: #fff;
    }


    .main-nav__link-list__item--account {
        font-size: 1rem;
        line-height: 1.5;
        position: relative;
        top: 2px;
    }



    .main-nav__secondary .main-nav__link-list {
        height: 4.25rem;
        padding-bottom: 1.25rem;
        padding-top: 1.25rem;
        padding-left: 1.25rem;
        margin-bottom: 0rem;
        display: flex;
    }

    .main-nav__secondary .main-nav__link-list__item {

        color: #000;
        font-size: 0.875rem;
        line-height: 1.5;
    }

    .main-nav__secondary .main-nav__link-list__item a {
        color: inherit;
    }

    .main-nav__secondary .main-nav__link-list__item.is-active a {
        color: #ff764d;
    }

    .main-nav__more {

        padding-bottom: 0rem;
        padding-left: 0rem;
        padding-right: 0rem;
        display: inline-block;
    }

    .main-nav__section-heading {
        font-family: "Futura PT Light";
        font-size: 1.25rem;
        line-height: 1.4;
        padding-bottom: .3em;
        color: #fff;
    }

    .main-nav__section {
        padding-top: 0rem;
    }




    .main-nav__more .main-nav__link-list {
        padding: 0;
        margin: 0;

    }

    .main-nav__more .main-nav__link-list__item {
        padding: 0px;
        margin: 0px;
        padding-right: 0rem;
        margin-right: 0rem;
        margin-bottom: 1.25rem;
        font-size: 0.875rem;

    }

    .main-nav__row {
        display: flex;
        align-items: none;
    }

    .main-nav__col {
        font-size: 1.25rem;
        font-family: "Futura PT Book";
        line-height: 1.5;
        margin-top: 0;
        margin-bottom: 0;
        list-style: none;
        padding-right: 1.25rem;
    }

    .main-nav__col h4 {
        font-size: 0.875rem;
        color: #FFF;
    }

    .main-nav__col p {
        font-size: 0.875rem;
        color: #FFF;
    }

    .main-nav__col--25p {
        min-width: 15rem;
    }

    .main-nav__slideable-wrapper {
        position: relative;
    }

    .main-nav__slideable {
        overflow: hidden;
        overflow-x: visible;
        padding-bottom: 1.25rem;

    }
}