@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');


@font-face {
    font-family: 'Futura PT Book';

    src: url('../fonts/FuturaPT-Book.woff2') format('woff2');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Light';
    src: url('../fonts/FuturaPT-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Meduim';
    src: url('../fonts/FuturaPT-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Bold';
    src: url('../fonts/FuturaPT-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Heavy';
    src: url('../fonts/FuturaPT-Heavy.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}


body {
    position: relative;
    width: 100vw;
    margin: 0;
    font-size: 16px;
    font-family: 'Futura PT Book';
    line-height: 1.5;

    font-weight: normal;
    color: #000 !important;
    overflow-x: hidden;
}

a {
    color: #000;
    cursor: pointer;
    text-decoration: none;
}

.main {
    background-color: #fff;
}




/** Navbar primary start **/

.main-nav {


    position: relative;
    padding-top: 1.25rem;
    padding-right: 15px;
    padding-bottom: 0;
    overflow: visible;

}

.main-nav__primary-wrapper--collapses {
    width: 100%;
} 

.main-nav__link-list {
    display: flex;
    padding-left: 8.75rem;
    padding-right: 2.5rem;
}

.main-nav__logo {
    position: absolute;
    top: 1.25rem;
    left: 0;
    margin-left: 2.25rem;
    margin-right: 2em;
    margin-bottom: 1.25rem;

}


.main-nav__separator {
    border: 1px solid #eee;
}

.main-nav__link-list {
    margin-bottom: 1.25rem;
    list-style-type: none;
}

.main-nav__link-list__item {
    margin-right: 0.625rem;
    margin-left: 0.625rem;
    font-size: 1.25rem;
    font-family: "Futura PT Light";
    line-height: 1.5;
    padding-right: 1.25rem;
    font-weight: 700;

}


.main-nav__link-list__item a {
    color: #000;
}

.main-nav__link-list__item::first-letter {
    text-transform: capitalize;
}

.main-nav__link-list__item.is-active a {
    color: #ff764d;

}

.main-nav__link-list__item--try {
    margin-left: auto;
    margin-right: 0px;

}

.abl-btn--reset {

    display: inline-block;
    padding: 0;
    color: #ff764d;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-image: none;
    background-color: transparent;
    border: none;
}

.main-nav__trigger-label {
    display: none;
}

.main-nav__more-button {
    line-height: initial;
    vertical-align: initial;
}

.main-nav__icon--collapse .main-nav__icon {
    display: none;
    width: 0.75rem;
    height: 0.75rem;
    margin-left: 0.5rem;
    position: relative;
}

.main-nav__icon--collapse .main-nav__icon::before {
    content: "";
    background: #ff764d;
    display: block;
    width: 0.75rem;
    height: 0.125rem;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.main-nav__hide-on-more-expanded .main-nav__icon {
    display: inline-block;

    width: 0.75rem;
    height: 0.75rem;
    margin-left: 0.5rem;
    position: relative;
}


.main-nav__hide-on-more-expanded .main-nav__icon::before {
    content: "";
    background: #ff764d;
    display: block;
    width: 0.75rem;
    height: 0.125rem;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.main-nav__hide-on-more-expanded .main-nav__icon::after {
    content: "";
    background: #ff764d;
    height: 0.75rem;
    width: 0.125rem;
    display: block;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}


.main-nav__link-list__item--try a {
    color: blue;
}


.main-nav__link-list__item--account {
    font-size: 1rem;
    line-height: 1.5;
    position: relative;
    top: 2px;
}



.main-nav__secondary .main-nav__link-list {
    height: 4.25rem;
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;
    padding-left: 2.25rem;
    margin-bottom: 0rem;
}

.main-nav__secondary .main-nav__link-list__item {

    font-size: 1rem;
    line-height: 1.5;
}

.main-nav__more {
    font-size: 1.25rem;
    line-height: 1.5;
    padding-bottom: 3.4375rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    width: 100%;
    display: none;
}

.main-nav__section-heading {
    font-family: "Futura PT Light";
    font-size: 1.875rem;
    line-height: 1.4;
    padding-bottom: .3em;
}

.main-nav__section {
    padding-top: 2.625rem;
}


.main-nav__more .main-nav__link-list {
    padding: 0;
    margin: 0;

}

.main-nav__more .main-nav__link-list__item {
    padding: 0px;
    margin: 0px;
    padding-right: 1.25rem;
    margin-right: 0.625rem;
    font-family: 'Futura PT Book';
    font-weight: normal;
    font-size: 1.25rem;
}

.main-nav__row {
    display: flex;
    align-items: none;
}

.main-nav__col {
    font-size: 1.25rem;
    font-family: "Futura PT Book";
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    padding-right: 1.25rem;
}

.main-nav__col h4 {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: capitalize;
    color: #000;
}

.main-nav__col p {
    font-size: 1.25rem;
    font-weight: 400;
    font-family: "Futura PT Book";
    color: #000;
}

.main-nav__col--25p {
    width: 25%;
}


.page-about__header {
    display: flex;
    min-height: calc(100vh - 120px);
    background-image: url('../img/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    justify-content: center;
    align-items: center;
    margin-left: 8.33333vw;
    margin-right: 8.33333vw;
    margin-bottom: 8.33333vw;

}

.page-about__header__ableton-logo {
    width: 430px;
    height: 120px;
    justify-self: center;
    align-self: center;
}



.page-about__text {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}

.body-text {
    margin: 0 auto;
}

.body-text h1 {
    font-size: 1.875rem;
    font-family: 'Futura PT Light';
    line-height: 1.4;
    font-weight: bold;
    text-rendering: auto;
    font-variant-ligatures: common-ligatures;
    font-feature-settings: "kern";
    font-kerning: normal;
    margin-bottom: 0.7em;
    margin-top: 2em;

}

.body-text p {
    font-size: 1.25rem;
    font-family: 'Futura PT Light';
    line-height: 1.4;
    font-weight: 600;
    position: relative;
    margin-bottom: 1em;
}


.page-about__collage {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.page-about__collage--products {
    padding-top: 8.33333vw;
    padding-bottom: 8.33333vw;
}

.page-about__collage__background {
    position: absolute;
    width: 58.3333vw;
    height: 58.3333vw;
    left: 41.66667vw;
    top: 0;
    z-index: 0;
}

.bg-lemonade {
    background-color: #fbffa7;
}

.page-about__collage--products .page-about__collage__media {
    width: 41.66667vw;
    height: 41.66667vw;
    margin-left: 8.33333vw;
}

.page-about__collage__media,
.page-about__collage__container__media {
    position: relative;
    background-color: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;

}

.page-about__collage__media,
.page-about__collage__container {
    display: inline-block;
    vertical-align: middle;
    z-index: 1;
}

.page-about__collage__media:last-child {

    width: 33.33333vw;
    height: 25vw;
    margin-left: 8.33333vw;
}

.page-about__text,
.page-about__collage,
.page-about__media {
    margin-bottom: 8.33333vw;
}

.page-about__collage--people {
    padding: 8.33333vw;
}

.page-about__collage--people .page-about__collage__background {
    width: 58.33333vw;
    height: 75vw;
    left: 0;
}

.bg-spearmint {
    background: #B6FFC0;
}


.page-about__collage__media, .page-about__collage__container {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
}

.page-about__collage--people .page-about__collage__container__media {
    width: 33.33333vw;
    height: 25vw;
}


.page-about__collage--people .page-about__collage__container__media:last-child {
    margin-top: 8.33333vw;
}



.page-about__collage--people>.page-about__collage__media {
    width: 41.66667vw;
    height: 41.66667vw;
    margin-left: 8.33333vw;
}


.page-about__media--large {
    margin-left: 8.33333vw;
    margin-right: 8.33333vw;
    width: auto;
}

.page-about__media--large img {
    height: auto;
    max-width: 100%;
    border: 0;
}

.page-about__collage--improving {
    padding-top: 8.33333vw;
    padding-bottom: 8.33333vw;
}

.page-about__collage--improving .page-about__collage__background {
    width: 66.66667vw;
    height: 58.33333vw;
    left: 16.66667vw;
}

.bg-lavender {
    background-color: #d5b3ff;
}

.page-about__collage--improving .page-about__collage__media {
    width: 33.33333vw;
    height: 25vw;
    margin-left: 8.33333vw;
}

.page-about__collage--improving .page-about__collage__media:last-child {
    width: 41.66667vw;
    height: 41.66667vw;
    margin-left: 16vw;
}

.page-about__jobs-teaser {
    display: flex;
    margin-left: 8.33333vw;
    margin-right: 8.33333vw;
}

.page-about__jobs-teaser__text__wrapper {
    display: table;
    width: 100%;
    height: 100%;
}


.page-about__jobs-teaser__media,
.page-about__jobs-teaser__text {
    width: 41.66667vw;
    height: 41.66667vw;
    display: inline-block;
    vertical-align: top;
    
}

.page-about__jobs-teaser__media {
    background-color: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.bg-periwinkle {
    background-color: #B1C5FF;
}

.page-about__jobs-teaser__text {
    padding: 8.33333vw;
}


.page-about__jobs-teaser__text__wrapper a {
    display: block;
    margin-top: 1em;
}

.page-about__jobs-teaser__text__wrapper .body-text {

    display: table-cell;
    vertical-align: middle;
}

.page-about__jobs-teaser__text__wrapper .has-arrow {
    color: blue;
}

.page-about__jobs-teaser__text__wrapper .has-arrow::after {
    content: '\00a0›';
}

.main-footer {
    max-width: 100rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    font-size: 1.25rem;
    padding-bottom: 8.33333vw;


}

.main-footer__separator {
    padding-top: 8.33333vw;
    position: relative;
    background-color: #fff;

}

.main-footer__separator::after {
    content: "";
    display: block;
    height: 0;
    border-top: 2px solid #efefef;
    position: absolute;
    left: 0;
    right: 0;
}

.main-footer__container {
    padding-left: 8.33333vw;
    padding-right: 8.33333vw;
}

.main-footer__content {
    padding-top: 8.33333vw;
}

.main-footer__row {
    display: flex;
}

.main-footer__col {

    padding-right: 0.625rem;
    padding-bottom: 4.16667vw;

}

.main-footer__col--full {
    width: 100%;
}

.main-footer__col--sm {
    width: 30%;
}

.main-nav__row::after {
    clear: both;
    content: "";
}

.main-footer__row::after {
    clear: both;
    content: "";
    display: table;
}

.main-footer__basics__logo {
    width: 188px;
}

.main-footer__list,
.main-footer__social {
    list-style: none;
    margin: 0;
    padding: 0;

}

.main-footer__list {
    font-weight: normal;
    font-size: 1.25rem;
}

.main-footer__social-listitem {
    display: inline-block;
}

.main-footer__list li::after {
    content: '\00a0›';
}

.main-footer__social-button {
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 0.625rem;
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 0.625rem;
}

.main-footer__social-button--facebook {
    background-color: #3477F2;
}

.main-footer__social-button--twitter {
    background-color: #1DA1F2;
}

.main-footer__social-button--youtube {
    background-color: #FF001D;
}

.main-footer__social-button--instagram {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.main-footer__h3 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
}

.main-footer__col--md {
    width: 40%;
}

.main-footer__form__group {
    display: flex;
    padding-top: 1rem;
}

.main-footer__form__field {
    flex: 1;

}

.main-footer__form__field input[type="email"] {
    font-family: 'Futura PT Book';
    font-weight: bold;
    font-size: inherit;
    width: 100%;
    margin: 0;
    padding: 0.4em 0.75em;
    background: transparent;
    background-color: #eee;
    border: 0;
    user-select: none;
    font-weight: normal;
    border-radius: 0;
}

.main-footer__button {
    display: inline-block;
    margin: 0;
    padding: 0.35em 1.5em;
    font-family: 'Futura PT Book';
    font-weight: bold;
    font-size: inherit;
    color: #fff !important;
    background: blue;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.main-footer__language-selector {
    font-size: .875rem;
    margin-top: 0.75em;
}

.main-footer__form__element--select.has-auto-width {
    display: inline-block;
}

.main-footer__secondary__select {
    margin-right: 2px;
    max-width: 200px;
}

.main-footer__form__element--select.has-auto-width .form__element__field {
    display: inline-block;
    width: auto;
    max-width: none;
}

.main-footer__icon-arrow--small {
    position: relative;
}


.main-footer__form__element--select select {

    appearance: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    background: transparent;
    border: 0;
    font-family: 'Futura PT Book';
    font-weight: bold;
    font-size: 1rem;
    width: 100%;
    margin: 0;
    padding: 0.4em 0.75em;
    background: transparent;
    background-color: #eee;
    border: 0;
    user-select: none;
    height: 2rem;
    padding: 0.35em 50px 0.35em 0.75em;
    border-radius: 0;
    cursor: pointer;
}

.main-footer__icon-arrow--small::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 100%;
    background-color: transparent !important;
    background: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0iOHB4IiBoZWlnaHQ9IjZweCIgdmlld0JveD0iMCAwIDggNiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4bWxuczpza2V0Y2g9Imh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaC9ucyI+ICAgICAgICA8dGl0bGU+UGF0aCAxPC90aXRsZT4gICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+ICAgIDxkZWZzPjwvZGVmcz4gICAgPGcgaWQ9IlBhZ2UtMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc2tldGNoOnR5cGU9Ik1TUGFnZSI+ICAgICAgICA8ZyBpZD0iQXJ0Ym9hcmQtMSIgc2tldGNoOnR5cGU9Ik1TQXJ0Ym9hcmRHcm91cCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMC4wMDAwMDAsIC0yLjAwMDAwMCkiIGZpbGw9IiMwMDAwMDAiPiAgICAgICAgICAgIDxwYXRoIGQ9Ik0tNS4wNjU2NDEwNmUtMDgsMiBMMy45OTk5OTk5Nyw3Ljk5OTk5OTk2IEw4LDIgTC01LjA2NTY0MTA2ZS0wOCwyIFoiIGlkPSJQYXRoLTEiIHNrZXRjaDp0eXBlPSJNU1NoYXBlR3JvdXAiPjwvcGF0aD4gICAgICAgIDwvZz4gICAgPC9nPjwvc3ZnPg==);
    pointer-events: none;
}

.main-footer__secondary__link-list {
    font-size: .875rem;
    font-family: 'Futura PT Book';
    font-weight: bold;

    margin-top: 1rem;
    width: auto;
}

.main-footer__secondary__link-list__item {
    padding-right: 2.5rem;
}

.main-footer__secondary__signature {
    float: right;
    width: auto;
    margin-left: auto;
    margin-top: 1rem;
}

footer__secondary__signature__logo {
    float: right;
}


.main-footer__secondary__signature__label {
    float: left;
    font-size: .875rem;
    line-height: 1.5;
    margin-right: 1em;
    font-weight: bold;
}